<!DOCTYPE html>
<html>

<head>
    <%- include('./partials/head') %>
    <title>Hello World</title>
</head>

<body>
    <!-- <header> -->
    <%- include('./partials/header') %>
    <!-- </header> -->
    <div class="container">
        <div id="carouselExampleIndicators" class="carousel slide carousel-fade main-slider" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner round-border">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="https://picsum.photos/600/200?p=1" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="https://picsum.photos/600/200?p=2" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="https://picsum.photos/600/200?p=3" alt="Third slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div class="row justify-content-center my-4">
            <div class="col-sm-12 col-md-8">

                <h2>
                    <span>Bài viết mới nhất</span>
                </h2>

                <div class="row blog-entries">
                    <% for( let i = 0; i < 5; i++ ) { %>
                    <div class="col-md-6">
                        <div class="blog-entry">
                            <img class="round-border" src="https://picsum.photos/600/300?p=<%- i %> " />
                            <div class="blog-content">
                                <h5><a href="/post/0">Hello, world!</a></h5>
                                <div class="blog-meta">
                                    <!-- <span>Tran Trung Hieu</span> •  -->
                                    <span>23 Thg 2, 2019</span> • <span>8:30 PM</span>
                                </div>
                                <p>This is a simple hero unit, a simple
                                    jumbotron-style
                                    component for
                                    calling extra
                                    attention to featured content or information.</p>
                            </div>
                        </div>
                    </div>
                    <% } %>

                </div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">Previous</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-sm-12 col-md-4 ">
                <div class="sidebar">
                    <div class="bio-box text-center round-border">
                        <img class="bio-box-background round-border" src="https://picsum.photos/600/200?a=1">

                        <div class="bio-body">
                            <img class="img-fluid bio-avt"
                                src="https://colorlib.com/preview/theme/wordify/images/person_1.jpg" />
                            <h2>Tran Trung Hieu</h2>
                            <p>It uses utility classes for typography and spacing to space content out within the larger
                                container.</p>
                            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                        </div>
                    </div>
                    <div class="widget-title">
                        <h2>
                            <span>Thông tin liên hệ</span>
                        </h2>
                    </div>
                    <div class="social-links">
                        <a href="https://fb.me/trunghieu2570" target="_blank" class="facebook">
                            <i class="fab fa-facebook"></i>
                            <span>fb.me/trunghieu2570</span>
                        </a>
                        <a href="https://github.com/trunghieu2570" target="_blank" class="github">
                            <i class="fab fa-github"></i>
                            <span>github.com/trunghieu2570</span>
                        </a>
                    </div>
                    <div class="widget-title">
                        <h2>
                            <span>Bài viết nổi bật</span>
                        </h2>
                    </div>
                    <div class="popular-posts">
                        <ul>
                            <% for( let i = 0; i < 4; i++ ) { %>
                            <li>
                                <div class="round-border popular-post-item" style="background-image: url(https://picsum.photos/600/200?a=<%-i%>);">
                                    <div class="dark-overlay round-border"></div>
                                    <a href="#">
                                        <h5>Hello, world!</h5>
                                        <div class="meta">
                                            <span>23 Thg 2, 2019</span>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <% } %>
                        </ul>
                    </div>
                    <div class="widget-title">
                        <h2>
                            <span>Thể loại</span>
                        </h2>
                    </div>
                    <div class="categories">
                        <ul>
                            <li>
                                <a href="#">
                                    <span class="cat-name" style="background-color: red;">Thể thao</span>
                                    <span class="cat-posts-count">(0)</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="cat-name" style="background-color: blue;">Chính trị</span>
                                    <span class="cat-posts-count">(0)</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="cat-name" style="background-color: green;">Giáo dục</span>
                                    <span class="cat-posts-count">(0)</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="cat-name" style="background-color: orange;">Giải trí</span>
                                    <span class="cat-posts-count">(0)</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="widget-title">
                        <h2>
                            <span>Các thẻ</span>
                        </h2>
                    </div>
                    <div class="tags">
                        <ul>
                            <% for( let i = 0; i < 10; i++ ) { %>
                            <li>
                                <a href="#">Thẻ <%- i %></a>
                            </li>
                            <% } %>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <%- include('./partials/footer') %>
</body>

</html>